<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <div layout:fragment="content">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
                <td>Text</td>
                <td>Due to</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>
</html>